<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
	margin: 0px auto;
	width : 960px;
}
</style>
</head>
<body>
	<div class="container">
	 
	 <div style="height: 10px"></div>
	 <div class="row">
	 	<!-- for(FoodVO vo:list) -->
	 	<div class="col-md-3" th:each="vo:${list}">
		    <div class="thumbnail">
		      <a href="#">
		        <img th:src="${vo.poster}" alt="Lights" style="width:100%">
		        <div class="caption">
		          <p th:text="${vo.title}"></p>
		        </div>
		      </a>
		    </div>
	 	</div>
	 <div style="height: 10px"></div>
	 <div class="row">
	  <div class="text-center">
	  	<ul class="pagination">
		  <li th:if="${startPage>1}"><a th:href="@{/food/seoul_location(page=${startPage-1})}">&lt;</a></li>
		  <li th:class="${curpage==i?'active':''}" th:each="i:${#numbers.sequence(startPage,endPage)}"><a th:href="@{/food/seoul_location(page=${i})}" th:text="${i}"></a></li>
		  <li th:if="${endPage<totalpage}"><a th:href="@{/food/seoul_location(page=${endPage+1})}">&gt;</a></li>
		</ul>
	  </div>
	 </div>
	</div>
</body>
</html>